  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      padding-top: 20px;
    }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  border: 1px solid black;
  flex: 1;
  align-self: flex-end;
  order: 2;
}

