body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      text-align: center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  gap: 5px;
}

.box {
  display: flex;  
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-weitht: bold;
  background-color: yellow;
}

header, footer {
  flex: 0 0 60px;
  background-color: yellow;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: row;
  flex: 1;
  gap: 5px;    
}

.item {
  flex: 0 0 150px;
  background-color: pink;
}

.middle-item {
  outline: 1px solid black;
  flex: 1 1 0;
  background-color: blue;
